<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Extension Updates</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.github.hgl.github-repo-age</string>
			<key>Developer Identifier</key>
			<string>28VFFE6EWS</string>
			<key>CFBundleVersion</key>
			<string>1.1</string>
			<key>CFBundleShortVersionString</key>
			<string>1.1</string>
			<key>URL</key>
			<string>https://github.com/hgl/github-repo-age/releases/download/1.0/github-repo-age.safariextz</string>
		</dict>
	</array>
</dict>
</plist>